<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./public/css/index.css">
	<script type="text/javascript" src="https://cdn.bootcss.com/vue/2.5.15/vue.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.min.js"></script>

</head>
<body>
	<!-- 头部 -->
	<div class="head">
		<h1>找工作要跟老板谈</h1>
		<h2>BOSS直聘</h2>
		<div class="search">
			<input type="text" placeholder="搜索职位/公司" class="search-input">
			<a href="www.baidu.com">搜索</a>
		</div>
	</div>


<!-- 内容 -->
	<div class="main job_list">
		<div class="neirong" v-for="cate in job_cate">
			
			<h4>{{cate.cate_name}}</h4>
			<img src="./public/img/2.png" alt="">  <!-- 一个 ../ 就跳出一层 -->
			<div class="some">
				<a :href="'index.php?control=job&action=lists&cateID='+child.id" v-for="child in cate.child_menu">{{child.cate_name}}</a>
			</div>
		</div>
	</div>


	<!-- 脚部 -->
	<div class="foot">
		<a href="">
			<span class="btn">立即注册</span>
			<div class="text">
				<img src="./public/img/8.png" alt="">
				<p>找工作要跟<br>老板谈</p>
			</div>
		</a>
	</div>

	
</body>
</html>
<script>
	// 数据有关
		new Vue({
			el:'.job_list',
			data:{
				job_cate:[]
			},
			created(){
				// 生命周期
				this.init()
			},
			methods:{
				init(){
					this.$http.get("<?php echo $jobApiURL?>/api/cate",{
						params:{
							p:1
						}
					})
					.then((rtnD)=>{
						console.log(rtnD)
						this.job_cate = rtnD.data
					})
				}
			}
		})

</script>